{
    "presets": ["next/babel"],
    "plugins": [
      "inline-react-svg", 
      ["styled-components", 
        { "ssr": true }
      ],
      [
        "module-resolver",
        {
            "alias": {
                "@": "./src"
            }
        }
    ]
    ]
}